body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #333; 
  color: white; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #222; 
  border: 1px solid #444;
  border-radius: 8px;
}

h2 {
  color: #ffa500; 
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ddd; 
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #444; 
  border-radius: 5px;
  background-color: #333; 
  color: white;
}

input[type="number"] {
  width: 90%; 
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

button {
  padding: 8px 16px; 
  border: none;
  border-radius: 5px;
  background-color: #ffa500; 
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #ff8700; 
}

.password-box {
  margin-top: 20px;
}

.password-message {
  color: #ffa500; 
}
